<div class="main-layout">
    <div class="logo">
        <img src="./../../../../assets/images/cse_standard.png" routerLink="/dashboard">
    </div>
    <div class="menu">
        <input type="text" placeholder="Search">
        <li [class.selected]="currentRoute === 'about-cse'" routerLink="/about-cse">Conoce ISC</li>
        <li [class.selected]="currentRoute === 'projects'" routerLink="/projects">Proyectos</li>
        <li [class.selected]="currentRoute === 'programs'" routerLink="/programs">Programas</li>
        <li [class.selected]="currentRoute === 'specialities'" routerLink="/specialities">Especialidades</li>
        <li [class.selected]="currentRoute === 'opportunities'" routerLink="/opportunities">Oportunidades</li>
        <button class="icon-button" routerLink="/login">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M10.9999 11C13.9466 11 16.3333 8.61334 16.3333 5.66667C16.3333 2.72 13.9466 0.333336 10.9999 0.333336C8.05325 0.333336 5.66659 2.72 5.66659 5.66667C5.66659 8.61334 8.05325 11 10.9999 11ZM10.9999 13.6667C7.43992 13.6667 0.333252 15.4533 0.333252 19V21.6667H21.6666V19C21.6666 15.4533 14.5599 13.6667 10.9999 13.6667Z" fill="white"/>
            </svg>
        </button>
    </div>
      
</div>