<div class="modal-header">
    <h4 class="modal-title">¿Olvidaste la contraseña?</h4>
</div>
<div class="modal-body">
    <form *ngIf="!emailSend && !verificated">
        <p>Por favor ingrese su numero de control parar enviar un correo de restablecimiento de contraseña.</p>
        <input type="text" placeholder="Numero de control" [formControl]="numControl" maxlength="8">
        <div class="error-msg" *ngIf="numControl.hasError('required')">Campo requerido</div>
        <div class="error-msg" *ngIf="numControl.hasError('pattern')">Numero de control no valido</div>
        <div class="buttons">
            <button class="secondary" (click)="onClose()">Cancelar</button>
            <button class="primary" (click)="toAccept()">Aceptar</button>
        </div>
    </form>

    <form *ngIf="emailSend && !verificated">
        <p>Por favor ingrese el codigo enviado a su correo electrónico.</p>
        <input type="text" placeholder="Codigo de verificacion" [formControl]="codeControl">
        <div class="error-msg" *ngIf="codeControl.hasError('required')">Campo requerido</div>
        <div class="buttons">
            <button class="secondary" (click)="onClose()">Cancelar</button>
            <button class="primary" (click)="verifiedCode()">Verificar</button>
        </div>
    </form>

    <form *ngIf="verificated" [formGroup]="passwordForm">
        <p>Por favor ingrese una nueva contraseña.</p>
        <input type="password" placeholder="Nueva contraseña" formControlName="newPassword">
        <div class="error-msg" *ngIf="validateControl('newPassword', 'required')">Campo requerido</div>
        <div class="error-msg" *ngIf="validateControl('newPassword', 'minlength')">Minimo 6 caracteres</div>
        <input type="password" placeholder="Repite la nueva contraseña" formControlName="newPassword2">
        <div class="error-msg" *ngIf="validateControl('newPassword2', 'required')">Campo requerido</div>
        <div class="error-msg" *ngIf="validateControl('newPassword2', 'minlength')">Minimo 6 caracteres</div>
        <div class="buttons">
            <button class="secondary" (click)="onClose()">Cancelar</button>
            <button class="primary" (click)="updatePassword()">Guardar</button>
        </div>
    </form>
</div>