<div class="modal-header">
    <h4 class="modal-title">¿Olvidaste la contraseña?</h4>
</div>
<div class="modal-body">
    <form>
        <p>Por favor ingrese el correo de su cuenta parar enviar un correo de restablecimiento de contraseña.</p>
        <input type="email" placeholder="Correo electrónico" [formControl]="userEmailControl">
        <div class="buttons">
            <button class="secondary" (click)="onClose()">Cancelar</button>
            <button class="primary" (click)="toAccept()">Aceptar</button>
        </div>
    </form>
</div>