<shared-main-navigation></shared-main-navigation>
<div class="content">
    <dashboar-header></dashboar-header>
    <div class="line"></div>
    <dashboard-projects-summary></dashboard-projects-summary>
</div>
<dashboard-programs-summary></dashboard-programs-summary>
<div class=" content line"></div>
<dashboard-specialities-summary></dashboard-specialities-summary>
<div class=" content line"></div>
<div class="content">
    <dashboard-opportunities-summary></dashboard-opportunities-summary>
</div>
<shared-footer></shared-footer>

