<div class="main-layout">
    <div class="data">
        <div class="title-section">
            <div class="line-vertical"></div>
            <h1>Creando Soluciones: Un Vistazo a los Proyectos de Ingeniería en Sistemas Computacionales</h1>
        </div>
        <h5>Explora nuestro catálogo de proyectos innovadores en el campo de la Ingeniería en Sistemas, donde estudiantes y profesionales trabajan juntos para crear soluciones tecnológicas que aborden desafíos del mundo real.</h5>
    </div>
</div>