<div class="main-layout">
    <div class="data">
        <div class="title-section">
            <div class="line-vertical"></div>
            <h1>Crecimiento Profesional: Programas de Aprendizaje, Cértamenes y Conferencias</h1>
        </div>
        <h5>Oportunidades para el crecimiento profesional en Ingeniería en Sistemas Computacionales, que abarcan programas educativos, desafíos técnicos y conferencias especializadas, brindando a estudiantes y profesionales las herramientas necesarias para destacar en este campo en constante evolución.</h5>
    </div>
</div>